body {
    font-family: sans-serif;
    padding: 2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    table, th, td {
        border: .2em solid #1C347F;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

    table, th, td {
        border: .2em solid #15A4E9;
    }
}

.head {
    margin-top: -1em;
}

th {
    text-align: left;
}

a.permalink {
    text-decoration: none;
    font-size: 75%;
}

pre {
    font-size: 110%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

a {
    color: #15A4E9;
}

table, th, td {
    border-collapse: collapse;
    padding: .3em;
}
